---
import { Image } from "astro:assets";

import bun from "../images/bun.svg"
import githhub from "../images/github.svg"
import astro from "../images/astro.svg"
import git from "../images/git.svg"
import hono from "../images/hono.svg"
import github from "../images/github.svg"
import javascript from "../images/javascript.svg"
import pocketbase from "../images/pocket-base.svg"
import typescript from "../images/typescript.svg"
import react from "../images/react.svg"
import econo from "../images/econo.png"
import blog from "../images/blog-page.png"
import docker from "../images/docker.svg"
import api from "../images/api-bg.png"
---

<section class=" mt-10">

    <div class=" flex items-center gap-2">
        <h3 class=" text-xs">PROJECTS</h3>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" fill="rgba(173,184,194,1)"><path d="M24 12L18.3431 17.6569L16.9289 16.2426L21.1716 12L16.9289 7.75736L18.3431 6.34315L24 12ZM2.82843 12L7.07107 16.2426L5.65685 17.6569L0 12L5.65685 6.34315L7.07107 7.75736L2.82843 12ZM9.78845 21H7.66009L14.2116 3H16.3399L9.78845 21Z"></path></svg>
    </div>

    <div class=" mt-10">
        <div class=" w-full border border-zinc-300 rounded-lg h-auto hover:border-emerald-200 cursor-pointer scale-100 hover:scale-105 duration-300">
            <div class=" m-2">
                <Image src={econo} alt="econo landing page" class=" rounded-t-lg" />
            </div>
            <div class=" m-2 bg-zinc-200 border border-b rounded-b-lg">
                    <h2 class=" m-2">Econo Building and Construction</h2>
                    <p class=" m-2 text-sm">A modern and intuitively designed landing page for a Construction
                        company that sells construction materials.
                    </p>
                    <div class=" m-2">
                        <div class=" flex items-center gap-2 saturate-0">
                            <a href="https://github.com/louisgituhi/econo-landing-page"><Image src={github} alt="github logo" width={22} /></a>
                            <span><Image src={javascript} alt="javascript logo" width={20} /></span>
                            <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="rgba(173,184,194,1)"><path d="M11.9996 4.85999C8.82628 4.85999 6.84294 6.44665 6.04961 9.61999C7.23961 8.03332 8.62794 7.43832 10.2146 7.83499C11.12 8.06109 11.7666 8.71757 12.4835 9.44545C13.6507 10.6295 15.0004 12 17.9496 12C21.1229 12 23.1063 10.4133 23.8996 7.23998C22.7096 8.82665 21.3213 9.42165 19.7346 9.02499C18.8292 8.79889 18.1827 8.1424 17.4657 7.41452C16.2995 6.23047 14.9498 4.85999 11.9996 4.85999ZM6.04961 12C2.87628 12 0.892943 13.5867 0.0996094 16.76C1.28961 15.1733 2.67794 14.5783 4.26461 14.975C5.17 15.2011 5.81657 15.8576 6.53354 16.5855C7.70073 17.7695 9.05039 19.14 11.9996 19.14C15.1729 19.14 17.1563 17.5533 17.9496 14.38C16.7596 15.9667 15.3713 16.5617 13.7846 16.165C12.8792 15.9389 12.2326 15.2824 11.5157 14.5545C10.3495 13.3705 8.99982 12 6.04961 12Z"></path></svg></span>
                            <span><Image src={astro} alt="astro logo" width={15} height={15} /></span>
                            <div class=" ml-auto">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="rgba(173,184,194,1)"><path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"></path></svg>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <div class=" w-full border border-zinc-300 rounded-lg h-auto mt-4 hover:border-emerald-200 cursor-pointer scale-100 hover:scale-105 duration-300">
            <div class=" m-2">
                <Image src={blog} alt="econo landing page" class=" rounded-t-lg" />
            </div>
            <div class=" m-2 bg-zinc-200 border border-b rounded-b-lg">
                    <h2 class=" m-2">Blog app</h2>
                    <p class=" m-2 text-sm">A small-scale blog app written in react, react-router, javascript and pocketbase as the database.
                    </p>
                    <div class=" m-2">
                        <div class=" flex items-center gap-2 saturate-0">
                            <a href="https://github.com/louisgituhi/blog-app"><Image src={github} alt="github logo" width={22} /></a>
                            <span><Image src={react} alt="react logo" width={20} /></span>
                            <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="rgba(173,184,194,1)"><path d="M11.9996 4.85999C8.82628 4.85999 6.84294 6.44665 6.04961 9.61999C7.23961 8.03332 8.62794 7.43832 10.2146 7.83499C11.12 8.06109 11.7666 8.71757 12.4835 9.44545C13.6507 10.6295 15.0004 12 17.9496 12C21.1229 12 23.1063 10.4133 23.8996 7.23998C22.7096 8.82665 21.3213 9.42165 19.7346 9.02499C18.8292 8.79889 18.1827 8.1424 17.4657 7.41452C16.2995 6.23047 14.9498 4.85999 11.9996 4.85999ZM6.04961 12C2.87628 12 0.892943 13.5867 0.0996094 16.76C1.28961 15.1733 2.67794 14.5783 4.26461 14.975C5.17 15.2011 5.81657 15.8576 6.53354 16.5855C7.70073 17.7695 9.05039 19.14 11.9996 19.14C15.1729 19.14 17.1563 17.5533 17.9496 14.38C16.7596 15.9667 15.3713 16.5617 13.7846 16.165C12.8792 15.9389 12.2326 15.2824 11.5157 14.5545C10.3495 13.3705 8.99982 12 6.04961 12Z"></path></svg></span>
                            <span><Image src={pocketbase} alt="pocketbase logo" width={20} height={20} /></span>
                            <div class=" ml-auto">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="rgba(173,184,194,1)"><path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"></path></svg>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <div class=" w-full border border-zinc-300 rounded-lg h-auto mt-4 hover:border-emerald-200 cursor-pointer scale-100 hover:scale-105 duration-300">
            <div class=" m-2">
                <Image src={api} alt="api image" class=" rounded-t-lg" />
            </div>
            <div class=" m-2 bg-zinc-200 border border-b rounded-b-lg">
                    <h2 class=" m-2">Planck</h2>
                    <p class=" m-2 text-sm">An api endpoint that returns a list of scientist names, their inventions and discoveries, image url, origin location and their life.
                    </p>
                    <div class=" m-2">
                        <div class=" flex items-center gap-2 saturate-0">
                            <a href="https://github.com/louisgituhi/planck"><Image src={github} alt="github logo" width={22} /></a>
                            <span><Image src={bun} alt="bun logo" width={20} /></span>
                            <span><Image src={docker} alt="docker logo" /></span>
                            <span><Image src={typescript} alt="typescript logo" width={16} height={16} /></span>
                            <span><Image src={hono} alt="hono log" width={16} /></span>
                            <div class=" ml-auto">
                                <a href="https://zonal-dorisa-louisgituhi-a992d867.koyeb.app/">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="rgba(173,184,194,1)"><path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"></path></svg>
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

    </div>
</section>