---
import { Image } from "astro:assets";

import bun from "../images/bun.svg"
import githhub from "../images/github.svg"
import astro from "../images/astro.svg"
import git from "../images/git.svg"
import hono from "../images/hono.svg"
import github from "../images/github.svg"
import javascript from "../images/javascript.svg"
import pocketbase from "../images/pocket-base.svg"
import typescript from "../images/typescript.svg"
import react from "../images/react.svg"
import econo from "../images/econo.png"
import blog from "../images/blog-page.png"
import docker from "../images/docker.svg"
import api from "../images/api-bg.png"
---

<section class=" mt-10">

    <div class=" flex items-center gap-2">
        <h3 class=" text-xs">PROJECTS</h3>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" fill="rgba(173,184,194,1)"><path d="M24 12L18.3431 17.6569L16.9289 16.2426L21.1716 12L16.9289 7.75736L18.3431 6.34315L24 12ZM2.82843 12L7.07107 16.2426L5.65685 17.6569L0 12L5.65685 6.34315L7.07107 7.75736L2.82843 12ZM9.78845 21H7.66009L14.2116 3H16.3399L9.78845 21Z"></path></svg>
    </div>

    <div class=" mt-10">

        <div class=" w-full border border-zinc-300 rounded-lg h-auto mt-4 hover:border-emerald-200 cursor-pointer scale-100 hover:scale-105 duration-300">
            <div class=" m-2">
                <Image src={api} alt="api image" class=" rounded-t-lg" />
            </div>
            <div class=" m-2 bg-zinc-200 border border-b rounded-b-lg">
                    <h2 class=" m-2">Planck</h2>
                    <p class=" m-2 text-sm">An api endpoint that returns a list of scientist names, their inventions and discoveries, image url, origin location and their life.
                    </p>
                    <div class=" m-2">
                        <div class=" flex items-center gap-2 saturate-0">
                            <a href="https://github.com/louisgituhi/planck"><Image src={github} alt="github logo" width={22} /></a>
                            <span><Image src={bun} alt="bun logo" width={20} /></span>
                            <span><Image src={docker} alt="docker logo" /></span>
                            <span><Image src={typescript} alt="typescript logo" width={16} height={16} /></span>
                            <span><Image src={hono} alt="hono log" width={16} /></span>
                            <div class=" ml-auto">
                                <a href="https://zonal-dorisa-louisgituhi-a992d867.koyeb.app/">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="rgba(173,184,194,1)"><path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"></path></svg>
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

    </div>
</section>